:root {
	--bg-color: white;
	--nav-bar-color: black;
	--text-color: black;
	--text-color-inv: white;
	--nav-link-color: #FFF;
	--nav-link-underscore-inactive: rgba(255, 255, 255, 0);
	--nav-link-underscore-active: rgba(255, 255, 255, 1);
}
/* Use a div to control entire site layout. The issue is the footer, which I want to always be at the bottom */
#layout-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	width: 100%;
}
#header-full, footer { /* block header and footer from growing */
	flex-grow: 0;
}
main { /* allow main to fill the rest of the soace */
	flex-grow: 1;
}

/*Set the font family to monospace, and set default text sizes for commonly h1, h2, p*/
* {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1rem;
}
h1 {
	font-size: 2rem;
	color: white;
}
h2 {
	font-size: 1.75rem;
}
p {
	line-height: 1.5em;
	max-width: 60ch; /* restrict paragraphs to 60 characters */
}

/* give hr some margins */
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* Set background color, default text color remove body margins and padding */
body {
	background-color: var(--bg-color); 
	color: var(--text-color);
	margin: 0px;
	padding: 0px;
}

@media screen and (min-width: 1600px){ /* Desktop */
	header, main {
		max-width: 50%;
		margin: auto;
	}
	main {
		width: fit-content;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-top: 2rem;
		column-gap: 5%;
	}
	main section > *:first-child {
		margin: 0px;
	}
	main section > * {
		margin: 1rem;
	}
	main > div { /* set width of areas in main to 80 characters */
		width: 80ch;
	}
	#buisness-card {
		display: flex;
		flex-direction: column;
		column-gap: 20px;
		align-items: center;
	}
}
@media screen and (min-width: 800px) and (max-width: 1600px) { /* Laptop or Tablet */
	header, main {
		max-width: 800px;
		margin: auto;
	}
	nav {
		display: flex;
		flex-direction: column;
	}
	#buisness-card {
		display: flex;
		flex-direction: row;
		column-gap: 20px;
		align-items: center;
	}
}
@media screen and (max-width: 800px) { /* Phone */
	header, main {
		margin: auto;
	}
	nav {
		display: flex;
		flex-direction: column;
	}
	#buisness-card {
		display: flex;
		flex-direction: row;
		column-gap: 20px;
		align-items: center;
	}
	#buisness-card > img {
		max-width: 200px;
		width: 35%;
		height: auto;
	}
}

#header-full {
	background-color: var(--nav-bar-color);
	padding: 20px;
}

header {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: baseline;
}

main {
	padding: 20px;
}

#buisness-card h3 {
	margin: 10px;
}

#buisness-card ul {
	margin: 10px;
	list-style: none;
	padding: 0px;
}

#buisness-card ul li {
	font-size: 1rem;
	white-space: nowrap;
	display: flex;
	align-items: center;
}

#buisness-card ul li * {
	font-size: 1rem;
	height: 1rem;
	margin: 10px 5px 10px 5px;
	color: var(--text-color);
	text-decoration: none;
}

#buisness-card > div {
	height: fit-content;
}

nav a {
	color: var(--nav-link-color);
	text-decoration: underline 0.15em var(--nav-link-underscore-inactive);
  	transition: text-decoration-color 250ms;
	margin-left: 4ch;
	font-size: 1.5rem;
	font-weight: bold;
}

nav a:hover {
	text-decoration-color: var(--nav-link-underscore-active);
}

nav a[aria-selected="true"] {
	text-decoration: underline 0.15em var(--nav-link-underscore-active);
}

a {
	white-space: nowrap;
}

footer {
	text-align: center;
	background-color: var(--nav-bar-color);
	color: var(--text-color-inv);
	padding: 20px;
}

footer p {
	font-weight: 900;
	font-size: 1.25rem;
	margin: auto;
}