/*Set the font amily to monospace, and set default text sizes for commonly h1, h2, p*/
* {
	font-family: monospace;
	font-size: 1rem;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.75rem;
}

p {
	line-height: 150%;
}

hr {
	margin: 1rem;
}

#buisness-card {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
	align-items: center;
}

@media screen and (min-width: 1200px){ /* Desktop */
	header, main, footer {
		max-width: 50%;
		margin: auto;
	}
	main {
		width: fit-content;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-top: 2rem;
	}
	main section > *:first-child {
		margin: 0px;
	}
	main section > * {
		margin: 1rem;
	}
	main > div { /* set width of areas in main to 80 characters */
		width: 80ch;
	}
	#buisness-card {
		flex-direction: column;
	}
}
@media screen and (min-width: 600px) and (max-width: 1200px) { /* Laptop or Tablet */
	header, main, footer {
		max-width: 600px;
		margin: auto;
	}
	nav {
		display: flex;
		flex-direction: column;
	}
}
@media screen and (max-width: 540px) { /* Phone */
	header, main, footer {
		width: 100%;
		margin: auto;
	}
	nav {
		display: flex;
		flex-direction: column;
	}
}

header {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: baseline;
}

#buisness-card h3 {
	margin: 10px;
}

#buisness-card ul {
	margin: 10px;
	list-style: none;
	padding: 0px;
}

#buisness-card ul li {
	font-size: 1rem;
	white-space: nowrap;
	display: flex;
	align-items: center;
}

#buisness-card ul li * {
	font-size: 1rem;
	height: 1rem;
	margin: 10px 5px 10px 5px;
	color: #000;
	text-decoration: none;
}

#buisness-card > div {
	height: fit-content;
}

nav a {
	color: #000;
	text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  	transition: text-decoration-color 250ms;
	margin-left: 10px;
	font-size: 1.5rem;
}

nav a:hover {
	text-decoration-color: rgba(0, 0, 0, 1);
}

nav a[aria-selected="true"] {
	font-weight: bold;
}

a {
	white-space: nowrap;
}

footer {
	width: 100%;
	text-align: center;
}

footer p {
	max-width: 100%;
}